/* --------------------------------navbar ----------------------------------*/
.navbar {
    position: fixed;
    z-index: 3;
    background-color: #dcdada;
    width: 100%;

}

.navbar-brand {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    color: rgb(67, 10, 10);
}

.navbar-brand:hover {
    color: rgb(67, 10, 10);
}

/* ------------------------------------- top-photo -------------------------------- */
.container-fluid.top-photo {
    position: relative;
    top: 75px;
    z-index: 1;
    height: 450px;
    width: 100%;
    background-image: url(../image/courses-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.top-photo {
    position: relative;
    background: url("../image/courses-background.jpg") center/cover no-repeat;
}

.top-photo::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.69)),
        url("your-image.jpg") center/cover no-repeat;
    /* fade level */
    z-index: 1;
}

.top-photo .image-inside {
    position: relative;
    z-index: 2;
}


.container-fluid.top-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.image-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-line {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
}

.first-line {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.4rem;
    text-shadow: 1px 1px 10px rgb(98, 96, 96);
    color: #fff;
}


/*-------------------------------- tabs-section ---------------------------*/
.container-fluid.content-portion-outer {
    background-image: url(../image/bgimage3.jpg);
    width: 100%;
    height: 990px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container.content-portion-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.py-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#courseTab {
    background-image: linear-gradient(135deg, #faf4e9 0%, #e2d1c3 100%);
    border-radius: 10px;
    box-shadow: 2px 2px 5px solid #eddacb 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.nav-link {
    color: black;
    font-size: 1.1rem;
}

.courseTab:hover {
    background: #5f5024;
}

#courseTab .nav-link.active {
    background-color: #e9b832;
    color: #000;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


/**************************** card-section *******************/
.card.shadow-sm {
    width: 250px;
    margin-bottom: 30px;
    margin-left: 15px;

}

.card.shadow-sm:hover {
    transform: scale(1.05);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    height: 200px;
    width: 250px;
    border-radius: 5px;
}

.card-text1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.tab-pane {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.tab-content {
    min-height: 500px;
}

.click-to-view {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to left, #f2c625 0%, #fb9e1c 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 150px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.click-to-view:hover{
    background-image: linear-gradient(to right, #f2c625 0%, #fb9e1c 100%);
}
/*-------------------------------------------- footer ------------------------------------*/
.container-fluid.footer {
    background-color: #000000;
    color: white;
}

.navbar-brand.ps-4.pe-3.footer {
    color: white;
}

.fa-solid.fa-triangle-exclamation {
    color: #ac7825;
    font-size: 1.5rem;
}

.fa-solid.fa-phone-volume {
    color: #ac7825;
    font-size: 1.5rem;
}

.fa-solid.fa-envelope {
    color: #ac7825;
    font-size: 1.5rem;
}