.container-fluid.top-photo {
    height: 450px;
    width: 100%;
    background-image: url(../image/tbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.second-line {
    color: maroon;
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    /* color: #fff; */
    background-color: #f6b6b671;
    width: 50%;
    border-radius: 5px;
}


ul{
    list-style-type: none;
}
li a{
    color: white;
    text-decoration: none;
}

.dropdown-menu{
    background-color: #fbf1e6;
}


